*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

ul,ol{
    list-style: none;
}

html{
    background-color: #F5F1EA;
}

/* font-family: 'Boogaloo', cursive;
font-family: 'Noto Sans JP', sans-serif; */

/* --- Header ---*/

header{

    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    background-color: #5596B4;
    /* padding: 30px 20px; */
    font-size: 20px;
    font-family: 'Boogaloo', cursive;

}


/* header nav ul{
    display: flex;
    gap: 30px;

} */

header h1{
    animation-name: mover-texto;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes mover-texto{

0%{
    transform: translate(0px);
}

25%{
    transform: translate(50px);
}

50%{
    transform: translate(100px);
}

75%{
    transform: translate(150px);
}

100%{
    transform: translate(0px);
}


}




/* --- Comienzo del Main y arreglos en el index --- */


main{
    padding: 50px;
    margin: 30px;
}


section h2{
    font-family: 'Boogaloo', cursive;
    font-size: 30px;
    margin-bottom: 20px;
}

section p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.boxes-a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
    margin: 30px;
    box-shadow: 1px 1px 18px;
}

.boxes-a article{
    width: 35%;
}

.boxes-a .img-boxes-a{
    width: 35%;
}

.img-boxes-a img{
    width: 100%;
    height: 100%;
}


.desayunos-b{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
    margin: 30px;
    box-shadow: 1px 1px 18px;
}

.desayunos-b article{
    width: 35%;
}

.desayunos-b .img-desayunos-b{
    width: 30%;
}

.img-desayunos-b img{
    width: 100%;
    height: 100%;

}
  /* ---Comienzo del footer--- */

  footer{
    background-color: #5596B4;
    padding-top: 20px;
    text-align: center;
  }


/* Arreglos a otros HTML */


/* Arreglo de la pagina como funciona */
.funcionamiento{
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
}

.pasos{
    margin-top: 60px;
    margin-left: 15px;
}

.pasos ul li{
    font-size: 1.2rem;
}

/* Arreglo de la pagina Boxes */

.lemon-pie{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    box-shadow: 1px 1px 18px;
    margin-bottom: 30px;
}

.lemon-pie article{
    width: 45%;
}

.lemon-pie .img-lemon-pie{
    width: 25%;

}

.img-lemon-pie img{
    width: 100%;
    height: 100%;
}


.risotto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    box-shadow: 1px 1px 18px;
    margin-bottom: 30px;

}

.risotto article{
    width: 45%;
}

.risotto .img-risotto{
    width: 25%;

}

.img-risotto img{
    width: 100%;
    height: 100%;
}

.pan-de-nuez{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
    box-shadow: 1px 1px 18px;
    margin-bottom: 30px;
}

.pan-de-nuez article{
    width: 45%;
}

.pan-de-nuez .img-pan-de-nuez{
    width: 25%;

}

.img-pan-de-nuez img{
    width: 100%;
    height: 100%;
}

.tarta-de-cebolla{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
    box-shadow: 1px 1px 18px;
    margin-bottom: 30px;
}

.tarta-de-cebolla article{
    width: 45%;
}

.tarta-de-cebolla .img-tarta-de-cebolla{
    width: 25%;

}

.tarta-de-cebolla img{
    width: 100%;
    height: 100%;
}

.pasta-frola{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
    box-shadow: 1px 1px 18px;
    margin-bottom: 30px;
}

.pasta-frola article{
    width: 45%;
}

.pasta-frola .img-pasta-frola{
    width: 25%;

}

.img-pasta-frola img{
    width: 100%;
    height: 100%;
}


/* Arreglo de la pagina Desayunos y Boxes */

h2{
    margin-top: 10px;
    padding-bottom: 30px;
}

h3{
    margin-top: 20px;
}

/* Arreglo en contactos */
