*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

ul,ol{
    list-style: none;
}
 body{
    background-image: url(../img/fondo-mola.png);
 }