footer{
    background-color: #5596B4;
    text-align: center;
  }

  a i:hover{
    border: 2px solid;
    border-radius: 10px;
    font-size: 30px;
    color: black;
    padding: 5px;
    transition: 0.2s;

}