*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    
    a{
        text-decoration: none;
        color: black;
    }
}

 body{
    background-image: url(../img/fondo-mola.png);
 }

 section h2{
    font-family: 'Boogaloo', cursive;
    font-size: 30px;
    margin-bottom: 20px;
 }

 section p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
 }

 h2{
    margin-top: 10px;
    padding-bottom: 20px;
    color: #ED5B42;
}

h3{
    margin-top: 10px;
    color: #ED5B42;
    font-family: 'Boogaloo', cursive;
}